/**
 *
 * Css Geral
 *
 */

html{
    margin-top: 10px;
}

header{
    margin-bottom: 10px;
}

 /******************************************* 
 * Define o alinhamento pelo id
 *******************************************/ 

#center{
    text-align: center;
}

#left{
    text-align: left;
}

#right{
    text-align: right;
}

#justify{
    text-align: justify;
}

/******************************************* 
 * Define o alinhamento pela classe
 *******************************************/ 

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.justify{
    text-align: justify;
}

/*******************************************
 * Muda o tamanho da fonte de um <p> pelo id
 *******************************************/
#f8{
     font-size: 8px;   
 }
 
 #f9{
     font-size: 9px;   
 }
 
 #f10{
     font-size: 10px;   
 }
 
 #f11{
     font-size: 11px;   
 }
 
 #f12{
     font-size: 12px;   
 }
 
 #f13{
     font-size: 13px;   
 }
 
 #f14{
     font-size: 14px;   
 }
 
 #f16{
     font-size: 16px;   
 }
 
 #f18{
     font-size: 18px;   
 }
 
 #f20{
     font-size: 20px;   
 }
 
 #f22{
     font-size: 22px;   
 }
 
 #f24{
     font-size: 24px;   
 }
 
 #f26{
     font-size: 26px;   
 }
 
 #f28{
     font-size: 28px;   
 }
 
 /*******************************************
 * Muda o tamanho da fonte de um elemento pela classe
 *******************************************/
 .f8{
     font-size: 8px;   
 }
 
 .f10{
     font-size: 10px;   
 }
 
 .f11{
     font-size: 11px;   
 }
 
 .f12{
     font-size: 12px;   
 }
 
 .f13{
     font-size: 13px;   
 }
 
 .f14{
     font-size: 14px;   
 }
 
 .f16{
     font-size: 16px;   
 }
 
 .f18{
     font-size: 18px;   
 }
 
 .f20{
     font-size: 20px;   
 }
 
 .f22{
     font-size: 22px;   
 }
 
 .f24{
     font-size: 24px;   
 }
 
 .f26{
     font-size: 26px;   
 }
 
 .f28{
     font-size: 28px;   
 }
 
 /*******************************************
 * Footer ( ver a utilidade )
 *******************************************/

 footer {
    font-size: 10px;
    padding: 1px;   
 }
 
 /**** Classes  ****/

/*******************************************
 *  class tabela
 *******************************************/

table.tabelaPadrao{
    border-collapse: separate;
    border-spacing: 2pt;
    border-color: #007095;    
    font-size: 12px;
    width: 100%;
}

table.tabelaPadrao th{
    background-color: #02548b;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    color: #fff;    
}

table.tabelaPadrao caption {
    background-color: #e6e6e6;
    font-weight: normal;
    color: #02548b;
    font-size: 16px;
}

table.tabelaPadrao tfoot td {
    background-color: #02548b;
    font-weight: normal;
    color: #fff;
}

table.tabelaPadrao a{
    text-decoration: none;
    color: #fff;
}
 
 span#ressaltado{
     padding: 0px;
     padding-top: 2px;
 }
 
 a#linkTituloTabela{
     background-color: #e6e6e6;
     font-weight: normal;
     color: #02548b;
     font-size: 16px;
 }
 
 tr#grupo1{
     background-color:#bababa;
 }
 
 tr#grupo2{
     background-color:#e6e6e6;
 }
 
 tr#somatorio{
     background-color:#02548b;
     text-align: center;
     color: #fff;
 }
 
 td#textoSomatorio{
     text-align: left;
 }
 
 
 /*******************************************
 * class titleBar
 *******************************************/
 
 div.title-bar{
     background-color: #02548b;
 }
 
 div.title-bar-title{
     font-weight: normal;
     padding-left: 10px;
 }
  
/*******************************************
 * class Modelo
 *******************************************/

div#divHistorico{
     display: none;
}
 
div#paginacao{
    position: absolute;
    top: 90px;
    left: 33%;
    width: 34%;
}

select#controlePesquisa,
input#controlePesquisa{
    margin-bottom: 0px; 
}

div#pesquisa{
    margin-bottom: 0px;
    margin-left: 5px;    
}
 /*******************************************
 * classe BotaoGrafico
 *******************************************/
div.botaoGrafico{    
    font-size: 11px;
    text-align: center;
    display: table;
    width: 100%;
}

/*******************************************
 * class Fieldset
 *******************************************/
fieldset legend{
    font-size: 12px;
}

fieldset.fieldset{
    padding: 10px 10px 0px 15px;
    margin: 5px;
}

/*******************************************
 * class TopBar
 *******************************************/

.top-bar,
.top-bar ul {
    background-color: #02548b;   
    text-align: left;
    color: #fff;
    font-size: 14px;     
    font-weight: normal;
    padding: 2px;
  }

/*******************************************
 * class Calendario
 *******************************************/

td#domingo {
    background-color:#D7D7D7;
  }
  
td#hoje {
    background-color: #99ccff;
  }    
  
p#pferiado {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 8px;
    margin: 0px;
}

img#imgcalendario{
    float: right;
    margin-top: -20px;
    margin-left: -1px;
    position: absolute;
}
  
/********************************
 *  class Form
 ********************************/
form.formPadrao input:focus, 
form.formPadrao select:focus, 
form.formPadrao textarea:focus, 
form.formPadrao input:focus{
    background:#C6E2FF;
}

form.formPadrao label{
   font-size: 12px;
}

/* upload */

form.upload{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: 10px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 1px dashed #000;
}
form.upload p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000;
  font-family: Arial;
}
form.upload input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

form.upload button{
  margin: 0;
  color: #000;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
}
form.upload button:hover{
  background: #149174;
	color: #0C5645;
}
form.upload button:active{
  border:0;
}

/********************************
 *  class Input
 ********************************/

#rdnProcesso {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/********************************
 * class MenuBar
 ********************************/

#container > div {
  display: flex;
}

#flex-start {
  justify-content: flex-start;
}

#center {
  justify-content: center;
}

#flex-end {
  justify-content: flex-end;
}

#space-between {
  justify-content: space-between;
}

#space-around {
  justify-content: space-around;
}

/**** Funções  ****/

/*******************************************
 * Função titulo
 *******************************************/
 div#titulo{     
     background-color: #02548b;    
     border: 1px solid #fff;
     padding: 5px 5px 5px 0px;    
     text-align: center;
     color: #fff;
     font-size: 14px;     
     font-weight: normal;
}

/*******************************************
 * Função tituloTable
 *******************************************/
 div#tituloTable{
     background-color: #e6e6e6;
     font-weight: normal;
     color: #02548b;
     font-size: 16px;
     text-align: center;
     padding: 5px 5px 5px 0px;
}

/*******************************************
 * Função label
 *******************************************/
span.label p{
    margin: 0px;
}

/*******************************************
 * Função callout
 *******************************************/
p#funcaoCallout{
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 14px;
    margin: 0px;
}
/*******************************************
 * Função badge
 *******************************************/
span.badge p{
    margin: 0px;
}

/**** Outros  ****/

/*******************************************
 * Menu Vertical
 *******************************************/

/* Tema Padrão */

ul.menuVertical li{ 
    padding: 1px 0px 1px 0px;    
    text-align: left;
    font-size: 13px;
    list-style-type: none;
    margin: 0px 15px 0px 2px;
}

ul.menuVertical li#titulo{
    padding: 5px 0px 3px 0px;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 16px;
    list-style-type: none;
    margin: 0px 0px 15px -20px;
}

ul.menuVertical li#titulo1{
    padding: 3px 0px 2px;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
    border-bottom: 2px #D7D7D7 solid;
    margin: 0px 0px 0px -10px;
}

ul.menuVertical li#titulo1 a{
    text-decoration:none;
    color: #02548b;
}

ul.menuVertical li#titulo2{
    padding: 3px 0px 2px;
    text-align: left;
    font-size: 14px;
    list-style-type: none;
    margin: 0px 0px 0px -5px;
}

ul.menuVertical li#titulo2 a{
    text-decoration:none;
    color: #02548b;
}

ul.menuVertical li#titulo a{
    text-decoration:none;
    color: #8a8a8a;
}

ul.menuVertical a { 
    text-decoration:none;
    color: #02548b;
}

ul.menuVertical a:hover {
    color: darkgray;
}

/* Tema Alternativo */

ul.menuVertical2 {
    margin: 10px 0px 0px 20px;
}

ul.menuVertical2 li{ 
    padding: 1px 0px 1px 0px;    
    text-align: left;
    font-size: 13px;
    list-style-type: none;
    margin: 0px 0px 0px -20px;
}

ul.menuVertical2 li#titulo{
    padding: 4px 0px 4px 0px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    list-style-type: none;
    margin: 0px 0px 0px -20px;
}

ul.menuVertical2 li#titulo a {    
    background-color: #e6e6e6;   
    display: block;             
    padding:10px;               
    text-decoration: none;      
}

ul.menuVertical2 li#titulo1{
    padding: 8px 0px 2px;
    text-align: left;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 2px #D7D7D7 solid;
}

ul.menuVertical2 a {    
    background-color: #eee;     /* Grey background color */
    color: black;               /* Black text color */
    display: block;             /* Make the links appear below each other */
    padding: 8px;               /* Add some padding */
    text-decoration: none;      /* Remove underline from links */
}

ul.menuVertical2 li#titulo a{
    text-decoration:none;
    color: #02548b;
}

ul.menuVertical2 li hover{
    color: #fff;
    background-color: darkgray;
}

ul.menuVertical2 a:hover {
    color: #fff;
    background-color: #bababa;
}

a#sublink{
    font-size: 10px;
    margin-left: 10px;
    color: #02548b;
    margin: 0px;
}

/* Tema Menu Servidor */

ul.menuServidor li{ 
    padding: 1px 0px 1px 0px;    
    text-align: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 15px 0px 2px;
}

ul.menuServidor li#titulo{
    padding: 5px 0px 1px 0px;
    margin: 0px 0px 0px -10px;
    text-align: left;
    font-size: 14px;
    list-style-type: none;    
}

ul.menuServidor a { 
    text-decoration: none;
    color: #02548b;
}

div#ajustaMenuServidor{
    height: 250px;
}

div#figuraMenuServidor{
    float: right;
    margin-top: -10px;
    margin-right: 0px;
}

/* Tema Menu Documentos */

ul.menuDocumentos li{ 
    padding: 0px 0px 0px 0px;    
    text-align: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

ul.menuDocumentos a { 
    text-decoration: none;
    color: #000;
}

ul.menuDocumentos a:hover {
    color: grey;
}

/* Tema Menu Beneficios */

ul.menuBeneficios li{ 
    padding: 0px 0px 0px 0px;    
    text-align: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 0px 0px -20px;
}

ul.menuBeneficios a { 
    text-decoration: none;
    color: #000;
}

ul.menuBeneficios a:hover {
    color: grey;
}

/* Tema Menu Procedimentos */

ul.menuProcedimentos li{ 
    padding: 0px 0px 0px 0px;    
    text-align: left;
    font-size: 13px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

ul.menuProcedimentos hover {
    color: darkgray;
}

ul.menuProcedimentos li#titulo{
    padding: 0px 0px 0px 0px;    
    text-align: left;
    list-style-type: none;
    margin: 15px 0px 0px -15px;
    border-bottom:#bababa solid thin;
}

ul.menuProcedimentos li#titulo a{
    text-decoration:none;
    color: #02548b;
    font-size: 14px;
    font-weight: bold;
}

ul.menuProcedimentos li#link{
    padding: 0px 0px 0px 0px;    
    text-align: left;
    list-style-type: none;
    margin: 0px 0px 0px -5px;
}

ul.menuProcedimentos a#link{
    text-decoration:none;
    color: #02548b;    
    font-size: 13px;
}

ul.menuProcedimentos li#linkWindow{
    padding: 0px 0px 0px 0px;    
    text-align: left;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}


ul.menuProcedimentos a#linkWindow{
    text-decoration:none;
    color: #02548b;    
    font-size: 13px;
}

ul.menuProcedimentos li#sublink{
    padding: 0px 0px 0px 0px;    
    text-align: left;    
    list-style-type: none;
    margin: 0px 0px 0px 10px;
}

ul.menuProcedimentos a#sublink{
    text-decoration:none;
    color: #02548b;
    font-size: 13px;
}

ul.menuProcedimentos li#titulo a :hover,
ul.menuProcedimentos a#sublink :hover,
ul.menuProcedimentos a#link :hover {
    color: darkgray;
}

span#novo{
    color:#9e0c0f;
    font-size: 10px;    
    font-weight: bold;
    font-variant-position: sub;
    cursor:pointer;
    margin: 0px 20px 0px 0px;
}

/*******************************************
 * Menu Horizontal
 *******************************************/

ul.menuHorizontal li{ 
    padding: 0px 10px 0px 10px;    
    text-align: center;
    font-size: 14px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    display: inline;
    border-left: 1px #02548b solid;
}

ul.menuHorizontal li#titulo{
    padding: 5px 0px 3px 0px;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 16px;
    list-style-type: none;
    margin: 0px 0px 15px -20px;
}

li#titulo1{
    padding: 0px 0px 2px;
    text-align: left;
    font-size: 16px;
    list-style-type: none;
    margin: 0px;
    
}

ul.menuHorizontal li#titulo a{
    text-decoration:none;
    color: #02548b;
}

ul.menuHorizontal a { 
    text-decoration:none;
    color: #076cba;
    
}

ul.menuHorizontal a:hover {
    color: darkgray;
}

ul.menuHorizontal {
    text-align: right;
    
}

/**** Relatório  ****/
    
/*******************************************
 * Classe Relatorio
 *******************************************/

div#menuTopo{
    border-bottom:#000 solid 2px;
    margin-bottom: 5px;
}

div#divRelatorio{
    text-align: center;
}

div#divRelatorio hr{
    margin: 0px;
}

p#pRelatorioTitulo{
   text-align: center;
   font-size: 22px;
   color: #000;
   margin: 0px;
 }
 
 p#pRelatorioSubtitulo{
   text-align: center;
   font-size: 16px;
   color: #000;  
   margin: 0px;
 }
 
 p#pRelatorioSubtotal{
   text-align: right;
   font-size: 10px;
   color: #000;
 }
 
 p#pRelatorioSubgrupo{
   text-align: center;
   font-size: 14px;
   color: #000;
   margin: 0px;
 }
 
 p#pRelatorioLabel{
   text-align: center;
   font-size: 12px;
   color: #000;
 }
 
 p#pRelatorioCabecalho{
   text-align: center;
   font-size: 12px;
   color: #000;
 }
 
 p#pRelatorioNenhumItem{
   text-align: center;
   font-size: 12px;
   color: #000;
 }
 
 p#pRelatorioTotal{
   text-align: right;
   font-size: 10px;
   color: #000;
 }
 
 p#pRelatorioDataImpressao{
   text-align: right;
   font-size: 10px;
   color: #000;
   margin: 0px;
   padding: 0em;
 }
 
 /*******************************************
 * Tabela principal (corpo do relatório)
 *******************************************/
 
 table.tabelaRelatorio{
     border-collapse: separate;
     border-spacing: 1px;     
     margin: 2px 1px 1px 1px;
     width: 100%;  
 }
 
 table.tabelaRelatorio tr{
     border-collapse: separate;
     border-spacing: 1px;
     background-color: #FFF;
     text-align: center;
 }
 
 table.tabelaRelatorio th{
   text-align: center;
   padding: 0px 3px 0px 3px;
   font-size: 12px;
   font-weight: normal;
   color: #000;
   border-bottom:#000 solid 2px;
   border-top:#000 solid 2px;
 }
 
 table.tabelaRelatorio td{
   font-size: 12px;
   padding: 0px 3px 0px 3px;
   color: #000;
   vertical-align: middle;
 }
  
 table.tabelaRelatorio tfoot td{
   text-align: right;
   font-size: 11px;
   border-top:#000 solid 2px;
   font-weight: normal;
 }
 
 table#subRelatorioGeral{
     margin: 2px 2% 1px 2%;
     width: 95%;
 }
 
 table#subRelatorioGeral th{
     background-color: #98AFC7;     
 } 
 
 table.tabelaRelatorio hr{
    color: #000;
    background-color: #000;
    height:1px;
 }
 
 /*******************************************
 * Rodapé
 *******************************************/
 
  @media print {
        div#rodape {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }