/**
 *
 * Css Geral
 *
 */

html{
    margin-top: 10px;
}
 /******************************************* 
 * Define o alinhamento pelo id
 *******************************************/ 

#center{
    text-align: center;
}

#left{
    text-align: left;
}

#right{
    text-align: right;
}

#justify{
    text-align: justify;
}

/*******************************************
 * Muda o tamanho da fonte de um <p> pelo id
 *******************************************/
p#f8{
     font-size: 8px;   
 }
 
 p#f10{
     font-size: 10px;   
 }
 
 p#f11{
     font-size: 11px;   
 }
 
 p#f12{
     font-size: 12px;   
 }
 
 p#f14{
     font-size: 14px;   
 }
 
 p#f16{
     font-size: 16px;   
 }
 
 p#f18{
     font-size: 18px;   
 }
 
 p#f20{
     font-size: 20px;   
 }
 
 /*******************************************
 * Muda o tamanho da fonte de um <p> pela classe
 *******************************************/
 p.f8{
     font-size: 8px;   
 }
 
 p.f10{
     font-size: 10px;   
 }
 
 p.f11{
     font-size: 11px;   
 }
 
 p.f12{
     font-size: 12px;   
 }
 
 p.f14{
     font-size: 14px;   
 }
 
 p.f16{
     font-size: 16px;   
 }
 
 p.f18{
     font-size: 18px;   
 }
 
 p.f20{
     font-size: 20px;   
 }
 
 /*******************************************
 * Footer ( ver a utilidade )
 *******************************************/

 footer {
    font-size: 10px;
    padding: 1px;   
 }
 
 /**** Classes  ****/

/*******************************************
 *  class tabela
 *******************************************/

table.tabelaPadrao{
    border-collapse: separate;
    border-spacing: 2pt;
    border-color: #007095;    
    font-size: 13px;
    width: 100%;
}

table.tabelaPadrao th{
    background-color: #02548b;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    color: #fff;    
}

table.tabelaPadrao caption {
    background-color: #e6e6e6;
    font-weight: normal;
    color: #02548b;
    font-size: 16px;
}

table.tabelaPadrao tfoot td {
    background-color: #02548b;
    font-weight: normal;
    color: #fff;
}

table.tabelaPadrao a{
    text-decoration: none;
    color: #fff;
}

table.tabelaPadrao td.zebrado1{
   background-color: #FFF;
   padding: 2px;
 }
 
table.tabelaPadrao td.zebrado0{
   background-color: #D7D7D7;
   padding: 2px;
 }
 
 span#ressaltado{
     padding: 0px;
     padding-top: 2px;
 }
  
/*******************************************
 * class Modelo
 *******************************************/

div#divHistorico{
     display: none;
}
 
div#paginacao{
    position: absolute;
    top: 90px;
    left: 33%;
    width: 34%;
}

 /*******************************************
 * classe BotaoGrafico
 *******************************************/
div.botaoGrafico{    
    font-size: 11px;
    text-align: center;
    display: table;
    width: 100%;
}

/*******************************************
 * class Fieldset
 *******************************************/
fieldset legend{
    font-size: 13px;
}

/*******************************************
 * class TopBar
 *******************************************/

.top-bar,
.top-bar ul {
  background-color: #01558b;
  font-size: 14px; 
  color: #FFF;
  padding: 2px;
  }
  
/********************************
 *  class Form
 ********************************/
form.formPadrao input:focus, 
form.formPadrao select:focus, 
form.formPadrao textarea:focus, 
form.formPadrao input:focus{
    background:#C6E2FF;
}

form.formPadrao label{
   font-size: 13px;
}

/********************************
 * class MenuBar
 ********************************/

#container > div {
  display: flex;
}

#flex-start {
  justify-content: flex-start;
}

#center {
  justify-content: center;
}

#flex-end {
  justify-content: flex-end;
}

#space-between {
  justify-content: space-between;
}

#space-around {
  justify-content: space-around;
}

/**** Funções  ****/

/*******************************************
 * Função titulo
 *******************************************/
 div#titulo{     
     background-color: #02548b;    
     border: 1px solid #fff;
     padding: 5px 5px 5px 0px;    
     text-align: center;
     color: #fff;
     font-size: 14px;     
     font-weight: normal;
}

/*******************************************
 * Função label
 *******************************************/
span.label p{
    margin: 0px;
}

/*******************************************
 * Função badge
 *******************************************/
span.badge p{
    margin: 0px;
}

/**** Outros  ****/

/*******************************************
 * Menu Vertical
 *******************************************/
ul.menuVertical li{ 
    padding: 5px 0px 3px 0px;    
    text-align: left;
    font-size: 14px;
    list-style-type: none;
    margin: 0px 15px 0px 0px;
}

ul.menuVertical li#titulo{
    padding: 5px 0px 3px 0px;
    background-color: #076cba;
    text-align: center;
    font-size: 14px;
    list-style-type: none;
    margin: 0px 0px 15px -20px;
}

ul.menuVertical li#titulo a{
    text-decoration:none;
    color: #fff;
}

ul.menuVertical a { 
    text-decoration:none;
    color: #076cba;
}

ul.menuVertical li:hover{
    background-color: #e9e9e9;
    }

/**** Relatório  ****/
    
/*******************************************
 * Classe Relatorio
 *******************************************/

div#menuTopo{
    border-bottom:#C0C0C0 solid 2px;
    margin-bottom: 5px;
}

div#divRelatorio{
    text-align: center;
}

div#divRelatorio hr{
    margin: 0px;
}

p#pRelatorioTitulo{
   text-align: center;
   font-size: 22px;
   color: #000;
   margin: 0px;
 }
 
 p#pRelatorioSubtitulo{
   text-align: center;
   font-size: 16px;
   color: #000;  
   margin: 0px;
 }
 
 p#pRelatorioSubtotal{
   text-align: right;
   font-size: 10px;
   color: #000;
 }
 
 p#pRelatorioSubgrupo{
   text-align: center;
   font-size: 14px;
   color: #000;
   margin: 0px;
 }
 
 p#pRelatorioLabel{
   text-align: center;
   font-size: 12px;
   color: #000;
 }
 
 p#pRelatorioCabecalho{
   text-align: center;
   font-size: 12px;
   color: #000;
 }
 
 p#pRelatorioNenhumItem{
   text-align: center;
   font-size: 12px;
   color: #000;
 }
 
 p#pRelatorioTotal{
   text-align: center;
   font-size: 11px;
   color: #000;
 }
 
 p#pRelatorioDataImpressao{
   text-align: right;
   font-size: 10px;
   color: #000;
   margin: 0px;
   padding: 0em;
 }
 
 /*******************************************
 * Tabela principal (corpo do relatório)
 *******************************************/
 
 table.tabelaRelatorio{
     border-collapse: separate;
     border-spacing: 1px;     
     margin: 2px 1px 1px 1px;
     width: 100%;  
 }
 
 table.tabelaRelatorio tr{
     border-collapse: separate;
     border-spacing: 1px;
     background-color: #FFF;
     text-align: center;
 }
 
 table.tabelaRelatorio th{
   text-align: center;
   padding: 0px 3px 0px 3px;
   font-size: 12px;
   font-weight: normal;
   color: #000;
   border-bottom:#C0C0C0 solid 2px;
   border-top:#C0C0C0 solid 2px;
 }
 
 table.tabelaRelatorio td{
   font-size: 12px;
   padding: 0px 3px 0px 3px;
   color: #000;
   vertical-align: top;
 }
 
 table.tabelaRelatorio td.zebrado{
   background-color: #CBCFD4;
 }
 
 table.tabelaRelatorio tfoot td{
   text-align: right;
   font-size: 11px;
   border-top:#C0C0C0 solid 2px;
   font-weight: normal;
 }
 
 table#subRelatorioGeral{
     margin: 2px 2% 1px 2%;
     width: 95%;
 }
 
 table#subRelatorioGeral th{
     background-color: #98AFC7;     
 } 
 
 table.tabelaRelatorio hr{
    color: #000;
    background-color: #000;
    height:1px;
 }